.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #444;
  z-index: 1000;
  min-height: 80px;
}

.navbar-center {
  display: flex;
  gap: 90px;
}

.navbar-center a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: color 0.3s ease;
}

.navbar-center a:hover {
  text-decoration: underline;
  color: #25d366;
}
